hw_practice.py
return.py
email_loop.py
class_numpypract.py
class_errorhandling.py
numpractice_class
new_csv_steps.py
csv_steps.py
new_csv_input.csv
new_csv_steps.csv
apprenticeship_applications.csv
apprenticeship_data.py
potential_affiliates_scraper.py
scraper_hw4_input.csv
black_stats.py
black_stats_input.csv
weather.py
aapl.py
old_black_stats.py
state_demographics.py
lesson5.py
api_lesson
hw_5_final